# Google Calendar Service Account
# Email de la Service Account (ej: mi-cuenta@mi-proyecto.iam.gserviceaccount.com)
GOOGLE_SERVICE_ACCOUNT_EMAIL=

# Clave privada de la Service Account (incluir los saltos de línea como \n)
GOOGLE_PRIVATE_KEY=

# ID del calendario de Google Calendar donde se registrarán los turnos
# Se encuentra en Configuración del calendario > Integrar calendario
GOOGLE_CALENDAR_ID=
